<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Link para o CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_P1.css') }}">

    <!-- Link para os ícones do Google Material -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=thumb_down" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=thumb_up" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=delete" />
    
    <title>Página Principal</title>
</head>

<body>

    <main>

        <header>
            <h2 class="welcome">Seja bem vinde {{session["nome_usuario"]}}</h2>

            <a href="/logoff">
                <button class="sair">Logoff</button>
            </a>
        </header>

        

        <form action="/post/mensagem" method="POST" class="form_comentario">

            <label for="usuario">Insira seu nome de usuário:</label>
            <input type="text" name="usuario" id="usuario">

            <label for="comentario">Insira um Feedback:</label>
            <input type="text" name="comentario" id="comentario">

            <button>Enviar</button>

        </form>

        {% for comentario in comentarios %}
        <div class="container">

            <div class="comentario">
                <div class="titulo">Nome de Usuário:</div>
                <div id="usuario">{{comentario.nome}}</div>
            </div>

            <div class="comentario">
                <div class="titulo">Feedback:</div>
                <div id="comentario">{{comentario.comentario}}</div>
            </div>

            <div class="comentario">
                <div class="titulo">Data:</div>
                <div id="data">{{comentario.data_hora}}</div>
            </div>

            <div class="botoes">
                <!-- Botão delete -->
                
                <a href="/delete/comentario/{{comentario.cod_comentario}}">
                    <button class="btn_delete">Delete</button>
                </a>
            
                <!-- Botão like -->
                <a href="/put/mensagem/adicionar/curtida/{{comentario.cod_comentario}}">
                    <button class="btn_curtir">Curtidas: {{comentario.curtidas}}</button>
                </a>
            
                <!-- Botão dislike -->
                <a href="/put/mensagem/adicionar/deslike/{{comentario.cod_comentario}}">
                    <button class="btn_deslike">Deslikes: {{comentario.curtidas}}</button>
                </a>
            </div>
            
        </div>
        {% endfor %}

    </main>

</body>

</html>
